@import "tailwindcss";
@import "./styles/animations.css";

:root {
  color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  background-color: #030303;
}

body {
  background-color: #030303;
  margin: 0;
}

/* Hide scrollbar */
::-webkit-scrollbar { 
  display: none; 
}